language: python
python:
  - "2.6"
  - "2.7"
env:
  - DJANGO='Django>=1.2,<1.3'
  - DJANGO='Django>=1.3,<1.4'
  - DJANGO='Django>=1.4,<1.5'
  - DJANGO='Django>=1.5,<1.6'
install:
  - pip install --use-mirrors $DJANGO
script:
  - make test
